In [1]:
#Measure of central tendency

In [2]:
age = [12,34,24,56,76,22,56,77,46,80,18,44]

In [3]:
import numpy as np
np.mean(age)

45.416666666666664

In [10]:
weights = [34,56,78,123,78,64,89,93]

In [11]:
np.mean(weights)

76.875

In [6]:
import seaborn as sns
df = sns.load_dataset('tips')

In [7]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
np.mean(df["total_bill"])

19.78594262295082

In [9]:
#median

In [12]:
np.median(age)

45.0

In [15]:
age = [12,34,24,56,76,22,56,77,46,80,18,44,250]

In [16]:
np.mean(age)

61.15384615384615

In [17]:
np.median(age)

46.0

In [18]:
#mode

In [19]:
from scipy import stats

In [20]:
stats.mode(age)

/tmp/ipykernel_110/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([56]), count=array([2]))

In [21]:
np.median(df["total_bill"])

17.795